@charset "UTF-8";
body {
  background-color: black;
}

.bird {
  color: white;
  font-family: "Helvetica Neue";
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
}
.bird:before {
  content: "↑";
}

.hunter {
  color: red;
  font-family: "Helvetica Neue";
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
}
.hunter:before {
  content: "↑";
}
